body {
  background: #f9fafd;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  text-align: center;
  padding: 10px;
}

.layout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffbe0b;
  transition: 0.4s;
}

.slider:before {
  font-family: FontAwesome;
  position: absolute;
  content: '\f185';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + .slider:before {
  content: '\f186';
}

input:checked + .slider {
  background-color: #000000;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.layout-container {
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.cardContainer {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 50%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date {
  margin-left: 20px;
  color: #686868;
}
.wrapper {
  border: 1px solid #e6ebff;
  border-radius: 10px;
  margin: 0px 30px;
}
.cardHeader {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.cardHeader img {
  margin-right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.profile {
  display: flex;
}
.profilePic {
  padding: 20px;
  background-color: #fff;
}
.image {
  height: 500px;
  width: 100%;
}
.image:hover {
  cursor: pointer;
}
.image img {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
}
.cardFooter {
  position: relative;
  padding: 10px 20px;
}
.cardFooter i:hover {
  cursor: pointer;
}
.fa-heart {
  font-size: 20px;
  z-index: -1;
}
.type {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
}
.fa-solid {
  color: #d73f3b;
}
.load-more {
  padding: 10px 30px;
  background-color: #d73f3b;
  border-radius: 8px;
  border: none;
  color: white;
}
.load-more:hover {
  cursor: pointer;
  background-color: #db2c26;
}
.cardContainer .card {
  display: none;
}

.cardContainer .card:nth-child(1),
.cardContainer .card:nth-child(2),
.cardContainer .card:nth-child(3),
.cardContainer .card:nth-child(4) {
  display: flex;
}

.darkTheme {
  background-color: #202020;
  color: white;
}
body {
  position: relative;
}
.popup {
  display: none;
}
.popup,
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 3;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.8);
}
.imagePop {
  height: 80vh;
  opacity: 2;
  z-index: 222;
  top: 10%;
  left: 25%;
  width: 50% !important;
  position: absolute;
  background-color: white;
}
.imagePop img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.close {
  top: 10%;
  right: 10%;
  position: absolute;
  font-size: 30px;
  color: white;
  background-color: #202020;
  padding: 25px;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}
.close:hover {
  cursor: pointer;
}

/* tablet view  */

@media screen and (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
  .imagePop {
    left: 15%;
    width: 70% !important;
  }
  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5%;
    right: 5%;
    width: 15px;
    height: 15px;
  }
}

/* mobile view  */
@media screen and (max-width: 425px) {
  .cardContainer {
    width: 100%;
  }
  .card {
    font-size: 16px !important;
    width: 100% !important;
  }
  .wrapper {
    width: 100% !important;
    margin: 0;
  }

  .imagePop {
    width: 100% !important;
    left: 0;
  }
  .close {
    top: 2%;
    font-size: 22px;
    padding: 20px;
    width: 8px;
    height: 8px;
    z-index: 22;
  }
}
